.search-container {
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
}

.movie-body svg {
    color: black;
}

.toggler--slider--circle {
    background-color: white;
}

.toggler--slider {
    background-color: #2B283A;
}

.toggler--light {
    color: #2B283A;
}

.desc button {
    color: #2B283A;
}